# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [2]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

philly = pd.read_csv(r"C:\Users\chris\PycharmProjects\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\philadelphia_9-24-2016_9-30-2017.csv")
balmer = pd.read_csv(r"C:\Users\chris\PycharmProjects\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv(r"C:\Users\chris\PycharmProjects\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\boston_9-24-2016_9-30-2017.csv")
ny = pd.read_csv(r"C:\Users\chris\PycharmProjects\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\new-york_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [6]:
# Clean your data here!
# data["Type"] = data["Type"].fillna("Conventional") # to clean type
#
# data = data.drop(["Grade"], axis=1)
# data = data.drop(["Environment"], axis=1)
# data = data.drop(["Quality"], axis=1)
# data = data.drop(["Condition"], axis=1)
# data = data.drop(["Appearance"], axis=1)
# data = data.drop(["Storage"], axis=1)
# data = data.drop(["Crop"], axis=1)
# data = data.drop(["Trans Mode"], axis=1)

def clean_produce_df(df: pd.DataFrame) -> pd.DataFrame:
    cols_to_drop = [
        "Grade",
        "Environment",
        "Quality",
        "Condition",
        "Appearance",
        "Storage",
        "Crop",
        "Trans Mode"
    ]


    data = df.copy()


    if "Type" in data.columns:
        data["Type"] = data["Type"].fillna("Conventional")

    existing_cols = [col for col in cols_to_drop if col in data.columns]
    data = data.drop(existing_cols, axis=1)

    return data

philly_cleaned = clean_produce_df(philly)
balmer_cleaned = clean_produce_df(balmer)
boston_cleaned = clean_produce_df(boston)
ny_cleaned = clean_produce_df(ny)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [31]:
# Combine the four dataframes into one!
northeast = pd.concat([philly_cleaned, balmer_cleaned, boston_cleaned, ny_cleaned], ignore_index=True)

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,PHILADELPHIA,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150.0,140,150.0,PENNSYLVANIA,lge,NaN,NaN,N
1,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150.0,150,150.0,NEW YORK,med-lge,NaN,NaN,N
2,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150.0,150,150.0,NEW YORK,med,NaN,NaN,N
3,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160.0,150,160.0,PENNSYLVANIA,lge,NaN,NaN,N
4,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140.0,140,140.0,NEW JERSEY,med-lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,NEW YORK,Conventional,bushel cartons,MINIATURE,NaN,09/09/2017,32,32.0,32,32.0,OHIO,sml,NaN,NaN,N
670,PUMPKINS,NEW YORK,Conventional,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/08/2016,18,18.0,18,18.0,NEW YORK,med,NaN,NaN,N
671,PUMPKINS,NEW YORK,Conventional,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/08/2016,18,18.0,18,18.0,NEW YORK,sml,NaN,NaN,N
672,PUMPKINS,NEW YORK,Conventional,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/15/2016,18,18.0,18,18.0,NEW YORK,med,NaN,NaN,N
673,PUMPKINS,NEW YORK,Conventional,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/15/2016,18,18.0,18,18.0,NEW YORK,sml,NaN,NaN,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [33]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
# mean 'Low Price', mean 'High Price'

# unique_units_of_sale = northeast['Unit of Sale'].unique()
# print(unique_units_of_sale)

grouped_by_units_of_sale = northeast.groupby('Unit of Sale').agg({'Low Price': 'mean', 'High Price': 'mean'})
print(grouped_by_units_of_sale)

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [29]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

# Put your code here to find the total count of transactions for each variety in the Northeast region.

counts = (northeast.groupby(['City Name', 'Variety']).size().reset_index(name='count'))

avg_by_variety = (counts.groupby('Variety')['count'].mean().reset_index(name='avg_of_variety_per_city'))

merged = counts.merge(avg_by_variety, on='Variety')

merged

       City Name                   Variety  count  avg_of_variety_per_city
0      BALTIMORE             BIG MACK TYPE     24                18.333333
1      BALTIMORE                CINDERELLA     25                19.500000
2      BALTIMORE                 FAIRYTALE     16                18.500000
3      BALTIMORE               HOWDEN TYPE     25                56.000000
4      BALTIMORE         HOWDEN WHITE TYPE      2                 2.000000
5      BALTIMORE                 MINIATURE     30                24.250000
6      BALTIMORE  MIXED HEIRLOOM VARIETIES      3                 2.000000
7      BALTIMORE                  PIE TYPE     26                49.500000
8         BOSTON             BIG MACK TYPE     29                18.333333
9         BOSTON                 BLUE TYPE      7                 7.000000
10        BOSTON                CINDERELLA     14                19.500000
11        BOSTON                 FAIRYTALE     21                18.500000
12        BOSTON               HOWDEN TYPE    132                56.000000
13        BOSTON              KNUCKLE HEAD      7                 3.000000
14        BOSTON                 MINIATURE     28                24.250000
15        BOSTON                  PIE TYPE    114                49.500000
16      NEW YORK             BIG MACK TYPE      2                18.333333
17      NEW YORK               HOWDEN TYPE     39                56.000000
18      NEW YORK              KNUCKLE HEAD      1                 3.000000
19      NEW YORK                 MINIATURE     27                24.250000
20      NEW YORK  MIXED HEIRLOOM VARIETIES      1                 2.000000
21      NEW YORK                  PIE TYPE     42                49.500000
22  PHILADELPHIA               HOWDEN TYPE     28                56.000000
23  PHILADELPHIA              KNUCKLE HEAD      1                 3.000000
24  PHILADELPHIA                 MINIATURE     12                24.250000
25  PHILADELPHIA                  PIE TYPE     16                49.500000

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!

       City Name                   Variety  count
0      BALTIMORE             BIG MACK TYPE     24
1      BALTIMORE                CINDERELLA     25
2      BALTIMORE                 FAIRYTALE     16
3      BALTIMORE               HOWDEN TYPE     25
4      BALTIMORE         HOWDEN WHITE TYPE      2
5      BALTIMORE                 MINIATURE     30
6      BALTIMORE  MIXED HEIRLOOM VARIETIES      3
7      BALTIMORE                  PIE TYPE     26
8         BOSTON             BIG MACK TYPE     29
9         BOSTON                 BLUE TYPE      7
10        BOSTON                CINDERELLA     14
11        BOSTON                 FAIRYTALE     21
12        BOSTON               HOWDEN TYPE    132
13        BOSTON              KNUCKLE HEAD      7
14        BOSTON                 MINIATURE     28
15        BOSTON                  PIE TYPE    114
16      NEW YORK             BIG MACK TYPE      2
17      NEW YORK               HOWDEN TYPE     39
18      NEW YORK              KNUCKLE HEAD      1
19      NEW YORK                 MINIATURE     27
20      NEW YORK  MIXED HEIRLOOM VARIETIES      1
21      NEW YORK                  PIE TYPE     42
22  PHILADELPHIA               HOWDEN TYPE     28
23  PHILADELPHIA              KNUCKLE HEAD      1
24  PHILADELPHIA                 MINIATURE     12
25  PHILADELPHIA                  PIE TYPE     16