# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
USE BooksDB
SELECT TOP (100) book_id, authors, title, average_rating AS avg_rating
FROM books
ORDER BY avg_rating DESC;
--The Complete Calvin and Hobbes

Question 2: Write a query to find the least popular book.

In [ ]:
USE BooksDB
SELECT TOP (100) book_id, authors, title, average_rating AS avg_rating
FROM books
ORDER BY avg_rating ASC;
--One Night at the Call Center

Question 3: Which tag is the most popular?

In [ ]:
USE BooksDB
SELECT tag_id, SUM("count") AS total_sum
FROM book_tags
GROUP BY tag_id
ORDER BY total_sum DESC
--30574

Question 4: What is the name of the most popular tag?

In [ ]:
--30574

Question 5: How many books where released in the first decade of 2000?

3594

In [ ]:
USE BooksDB
SELECT COUNT(book_id) AS books_from_the_2000s
FROM books
WHERE original_publication_year BETWEEN 2000 AND 2010

Question 6: How many book titles contain the word, "happy"?

In [ ]:
USE BooksDB
SELECT COUNT(title) AS number_of_happy_titles
FROM books
WHERE title LIKE '%happy%' --13

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

USE BooksDB
SELECT title, authors, average_rating
FROM books
WHERE authors = 'Bill Watterson' OR authors = 'Brandon Sanderson' OR authors = 'J.K. Rowling'
ORDER BY authors, average_rating DESC --yes

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
USE BooksDB
SELECT COUNT(authors) AS author_first_names_between_rock_and_roll
FROM books
WHERE authors BETWEEN 'Rock' AND 'Roll'

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- What book has the highest book count?
USE BooksDB
SELECT books_count, title
FROM books
ORDER BY books_count DESC -- Pride and Prejudice

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- What is tag 30574
USE BooksDB
SELECT *
FROM tags
WHERE tag_id = 30574
--to-read ??!!

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?